/*!
resultado busqueda
 */

@import url(../fonts/fonts.css);

html {
    height: 100%
}

body {
    height: 50%;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner>.item {
  height: 100%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}
/*#botones {
    position: fixed;
    width: 100%;
    bottom: 0;
}



h3:first-letter, p:first-letter, h5:first-letter {
    text-transform:capitalize;
}

.navbar {
padding: 20px 0;
border-bottom: 0;
letter-spacing: 1px;
background: 0 0;
-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-custom {
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.05);
}

.profesional {
    background-color: #F9F9F9;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.profesional img {
    padding: 15px 0 15px 0px
}

.profesional_descripcion {
    background-color: #FFFFFF;
    padding-bottom: 15px;

}

.profesional_descripcion h3{
    color: #8B9BC5;
    font-family: 'open_sansregular', sans-serif;

}

.btn-no-background {
color: #8B9BC5;
background-color: #fff;
border-color: #8B9BC5;
border-radius: 0px;
}

.pull-right {
float: right!important;
}

h3 .label-default {
background-color: #8B9BC5;
}


/*!
profesional page
 */

#opinion_puntuacion {
    font-size: 40px;
    font-weight: 0;

}

.label {
    padding: .5em .5em .5em;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border-top: 1px solid #eee;
border: 5;
}

.sep_horiz_top {
    padding-top: 15px;
}

#cuerpo {
    margin-top: 100px;
    margin-bottom: 50px;
}

.progress {
height: 10px;
background-color: #fff;

}

.img-centered {
    margin: 0 auto;
}

.thumbnail {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    padding: 0px; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd; 
    border-radius: 0px; 
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;

}

.foto_descripcion {
    padding: 5px;
    height: 100px;
    overflow: hidden;
}*/